.u-playlist-name p{
    font-size: 1rem;
    z-index: 99;
    color: #fff;
}
@media (min-width: 320px) {
    .u-p-container{
        display: grid;
        color: var(--nav-bg);
        grid-template-columns: repeat(auto-fill,1fr);
        gap: 0.4rem;
    }
    .u-playlist{
        width: 90%;
        height: 4rem;
        margin: 0.4rem auto;
        display: flex;
        align-items: center;
        gap: 1rem;
        border:1px solid #b038db;
        background-color: #131212;
        box-shadow: #b038db;
        border-radius: 0.4rem;
    }
    .u-playlist-img img{
        width:50px;
        aspect-ratio: 2/2;
    }
}
@media (min-width: 720px) {
    .u-p-container{
        color: #e8dada;
        display: grid;
        grid-template-columns: repeat(auto-fit,1fr);
    }
    .u-playlist{
        width: 380px;
        height: auto;
        padding: 0.4rem;
        margin: 0.4rem auto;
        display: flex;
        flex-direction: column;
    }
    .u-playlist-img img{
        width:100%;
        aspect-ratio: 3/2;
    }
}