@media (min-width: 320px) {
  .navbar {
    max-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgb(38, 20, 63); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    height: 45px;
    margin: 0 5rem;
  }
  .logbtn {
    background-color: #1ed760;
    color: #b038db;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  /* .logbtn svg {
    height: 40px;
    width: 50px;

  } */
  .logbtn svg rect {
    height: 40px;
  }
  .logbtn svg path {
    fill: #1ed760;
    width: 100%;
    /* height: 420px; */
  }
  .user {
    color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 1.2rem;
  }
  .user img {
    width: 2rem;
  }
  .menu {
    position: absolute;
    top: 100%;
    background: #000;
    width: 8rem;
    padding: 0.4rem;
    right: 3%;
  }
  .menu button {
    width: 100%;
    border: none;
  }
}
