@media  (min-width: 320px) {
    .m-navbar{
        position: fixed;
        min-width: 100%;
        min-height: 3.2rem;
        max-height: 3.5rem;
        background-color: var(--nav-bg);
        list-style: none;
        bottom: 0 ;
        left: 0;
        right: 0;
    }
    .m-navbar ul{
        display: flex;
        justify-content: space-around;
    }
    .m-link{
        font-size: 1.5rem;
        color: white;
    }
    .active{
        color: #7b189f;
    }
}