.container {
  height: calc(100vh - 40px);
  margin: 40px auto auto auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

   .logbtn {
      background-color: #1ed760;;
      color: #b038db;
      padding: 0.4rem 0.6rem;
      border-radius: 0.4rem;
      font-weight: 500;
      border: none;
      cursor: pointer;
      font-family: "Orbitron", sans-serif;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
    }

